body {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
 
 body div {
     scroll-margin-top: 4.5em;
 }
 .navbar {
     background-color: #222;
 }
 .navbar .navbar-brand {
     margin-left: 3%;
     color: white;
 }
 .navbar .navbar-brand img{
     width: 120px;
 }
 
 .navbar li.nav-item a.nav-link {
     color: grey;
 }
 
 #navbarSupportedContent {
     margin-right: 4%;
 }
 
 .header .carousel-inner {
     filter: brightness(50%);
 }
 
 .header .textCarousel {
     top: 30%;
     z-index: 700;
     padding-right: 7%;
 }
 
 .header h1 {
     font-weight: 600;
 }
 .cardOradores {
     margin-top: 30px;
     background-color: #FFF;
     padding: 0.5em 15%;
 }
 
 .cardOradores p {
     font-size: 1em;
     text-align: center;
 }
 
 .cardOradores .card {
     text-align: justify;
     text-align: center;
     margin-bottom: 1em;
 }
 
 .cardOradores span {
     margin-right: 0.5em;
 }
 
 .postal {
     background-color: #222;
     color: #FFF;
     text-align: justify;
 }
 
 .postal p {
     font-size: 1em;
 }
 
 .formOrador {
     background-color: #FFF;
     padding: 1em 25%;
 }
 
 .formOrador p:nth-child(1) {
     font-size: 0.7em;
 }
 
 .formOrador button {
    background-color: #91d353;
    color: #f3f3f3;
}
.footer {
    background-color: #0f3544;
    min-width: 100%;
    bottom: 0;
    position: absolute;
    margin-top: auto;
    margin-left: -289px;    
}
 
.footer a {
    color: #ececec;
    font-size: 0.8em;
    width: 10em;
}
 
 
/*********** Responsive ************************/
@media only screen and (max-width: 1200px){
    .footer{
        margin-left: -180px;
    }
}
@media only screen and (min-width: 768px){
    .footer{
        margin-top: -1800px;
    }
}
@media only screen and (max-width: 600px){
    .footer{
        margin-bottom: -500px;
        margin-left: -80px;
        justify-content: space-around;
    }
}